<div class="top-header">
    <div class="container d-flex justify-content-between align-items-center">
        <div>Welcome to Worldwide Electronics Store</div>
        <div>
            <a href="#"><i class="fas fa-map-marker-alt me-1"></i> Store Locator</a>
            <a href="#"><i class="fas fa-truck me-1"></i> Track Your Order</a>
            <a href="#"><i class="fas fa-shopping-bag me-1"></i> Shop</a>
            <a href="#"><i class="fas fa-user me-1"></i> My Account</a>
        </div>
    </div>
</div>


<div class="container py-3">
    <div class="row align-items-center">

        <div class="col-2">
            <a href="#" class="logo text-decoration-none">
                electro<span>.</span>
            </a>
        </div>


        <div class="col-1">
            <button class="navbar-toggler">
                <i class="fas fa-bars"></i>
            </button>
        </div>


        <div class="col-6">
            <div class="search-container">
                <input type="text" class="search-input" placeholder="Search for Products">
                <button class="dropdown-toggle" type="button">
                    All Categories
                </button>
                <button class="search-button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>


        <div class="col-3 d-flex justify-content-end align-items-center">
            <button class="icon-button">
                <i class="fas fa-sync-alt"></i>
            </button>
            <button class="icon-button">
                <i class="far fa-heart"></i>
            </button>
            <button class="icon-button">
                <i class="fas fa-user"></i>
            </button>
            <button class="icon-button cart-button">
                <i class="fas fa-shopping-cart"></i>
                <span class="cart-count">0</span>
            </button>
            <span class="ms-2 fw-bold">$0.00</span>
        </div>
    </div>
</div>


<nav class="navbar">
    <div class="container d-flex">
        <div class="departments-button">
            <i class="fa fa-list-ul"></i> All Departments
        </div>

        <a href="#" class="nav-link">All Pages <i class="fas fa-caret-down dropdown-arrow"></i></a>
        <a href="#" class="nav-link">Featured Brands</a>
        <a href="#" class="nav-link">Trending Styles</a>
        <a href="#" class="nav-link">Gift Cards</a>

        <div class="free-shipping">
            Free Shipping on Orders $50+
        </div>
    </div>
</nav>